h1{
  text-align: center;
  margin: 10px 0;
}

.tracks-list{
  width: 96%;
  padding: 0 2%;
  img{
    width: 18px;
    height: 8px;
  }
  div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
  }
  .ruby-react{
    
  .ruby-rails{
    
  .fidgetech{
    
  .intro-evening{
    
  .intern-job{
    
  .front-end{
    
  .c-react{
    
  .archived{
    
  .workshops{
    
  .all-courses{
    
}
